<div style="display: block" *ngIf='signalRService.bradcastedData'>
  <canvas baseChart
          [datasets]="signalRService.bradcastedData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="chartLegend"
          [chartType]="chartType"
          [colors]="colors"
          (chartClick)="chartClicked($event)"></canvas>
</div>
<br><br>
<div>
  <button (click)="startBroadcastChartData()">Start</button>
  <button (click)="endBroadcastChartData()">Stop</button>
</div>
<ul>
  <li *ngFor='let data of signalRService.bradcastedData'>
    <ng-container *ngIf="data">
      <strong>Label: </strong> {{data.label}} - <strong>Value: </strong><span>{{data.data[0]}}</span>
    </ng-container>
  </li>
</ul>
